/* FONTS */
@font-face {
  font-family: "Blinker";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Blinker-SemiBold.ttf");
}
@font-face {
  font-family: "Blinker";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Blinker-Regular.ttf");
}
@font-face {
  font-family: "Newsreader";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Newsreader-Bold.ttf");
}
@font-face {
  font-family: "Newsreader";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Newsreader-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.ttf");
}
