.header {
  padding-top: 58px;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav {
  display: flex;
  align-items: center;
  &_item {
    list-style: none;
    & + & {
      margin-left: 70px;
    }
  }
  &_link {
    font-family: "Blinker";
    font-weight: 400;
    font-size: 20px;
    line-height: 134.5%;
    letter-spacing: 1.16667px;
    color: #4e677d;
    text-decoration: none;
    &:hover {
      color: #5d778d;
    }
  }
}
.active {
  border-bottom: 2px solid rgba(78, 103, 125, 1);
}
.login_btn {
  padding: 10px 26px;
  font-family: "Blinker";
  font-weight: 600;
  font-size: 20px;
  line-height: 157%;
  color: #ffffff;
  text-decoration: none;
  background: #4e677d;
  border-radius: 10px 10px 0px 10px;
  &:hover {
    color: white;
    background: #668199;
  }
}

// responsive part

@media only screen and (max-width: 1100px) {
  .logo_img {
    width: 103px;
  }
  .nav {
    &_item {
      & + & {
        margin-left: 50px;
      }
    }
    &_link {
      font-size: 18px;
    }
  }
  .login_btn {
    font-size: 18px;
  }
}
