.hero {
  padding-top: 126px;
  &_inner {
    position: relative;
  }
  &_parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.hero_first_part {
  width: 100%;
  max-width: 546px;
  &_img_link {
    text-decoration: none;
  }
  &_title {
    font-family: "Newsreader";
    font-weight: 700;
    font-size: 65px;
    line-height: 134.5%;
    letter-spacing: 1.16667px;
    color: #4e677d;
  }
  &_desc {
    margin-top: -30px;
    font-family: "Blinker";
    font-weight: 600;
    font-size: 26px;
    line-height: 179.5%;
    letter-spacing: 0.5px;
    color: #464d59;
    &_box {
      background-image: url("../../images/text_bgimg.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.hero_first_part_shape {
  margin-top: 87px;
}
.hero_second_part {
  position: relative;
}
.checkup_box {
  margin-top: 100px;
  margin-left: 50px;
  width: 186px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 1px 10px #e1e1ef;
  border-radius: 10px;
}
.checkup_label {
  font-family: "Blinker";
  font-weight: 600;
  font-size: 18px;
  line-height: 179.5%;
  letter-spacing: 0.5px;
  color: #4e677d;
  cursor: pointer;
}
.checkup_label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  width: 14px;
  height: 14px;
  padding: 10px;
  background-color: rgba(155, 154, 154, 0.541);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 14px;
    color: white;
    text-align: center;
    display: none;
  }
  &:hover {
    background-color: lightgrey;
  }
  &:checked {
    background-color: #4cd080;
  }
  &:checked::after {
    display: block;
  }
}
.hero_heart_icon {
  position: absolute;
  top: calc(50% - 260px);
  left: calc(50% - 245px);
}
.hero_curved_line {
  position: absolute;
  top: calc(50% - 284px);
  right: calc(50% - 315px);
}
.hero_heart_girlimg {
  position: relative;
}
.hero_circle {
  position: absolute;
  top: calc(10% + 15px);
  left: calc(10% - 23px);
  z-index: -1;
}
.hero_third_part {
  position: absolute;
  top: calc(50% + 260px);
  left: calc(50% - 600px);
  z-index: 3;
}
