.register_part {
  padding-top: 132px;
  padding-left: 80px;
  position: relative;
}
.register_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 1117px;
  z-index: -1;
}
.register_inner {
  width: 100%;
  max-width: 390px;
  &_title {
    margin-bottom: 55px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 38px;
    line-height: 145%;
    text-transform: capitalize;
    color: #4e677d;
  }
}
.register_label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #4e677d;
}
.register_input {
  padding: 15px 20px 15px 15px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #9b9b9b;
}
.register_password {
  padding-right: 151px;
}
.register_input :focus {
  border: 1px solid #aaaaaa;
}
.close_eye {
  width: 15px;
  height: 12px;
  position: absolute;
  top: calc(10% + 15px);
  right: calc(10% - 20px);
  border: none;
  background-color: transparent;
}
.regiter_signin_btn {
  margin-top: 63px;
  margin-bottom: 34px;
  padding: 13px 0;
  background: #4e677d;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #ffffff;
}
.regiter_google_link {
  padding: 13px 0;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.333333px;
  color: #4e677d;
  &:hover {
    color: #3a5268;
  }
}
.question_link {
  margin-top: 55px;
  margin-bottom: 34px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.333333px;
  color: #9b9b9b;
  &_colored {
    color: #4e677d;
    &:hover {
      color: #41586d;
    }
  }
}
.forgot_password {
  margin-bottom: 64px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.333333px;
  color: #4e677d;
  &:hover {
    color: #314658;
  }
}
.security {
  margin-bottom: 97px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.333333px;
  color: #9b9b9b;
  &:hover {
    color: #838282;
  }
}
