.services {
  position: relative;
  padding-top: 150px;
}
.services_plus {
  position: absolute;
  top: calc(10% + 180px);
  right: 0;
}
.services_titles {
  position: relative;
  margin-bottom: 15px;
  &_items {
    width: 100%;
    max-width: 496px;
  }
  &_item_one {
    margin-bottom: 51px;
    background-image: url("../../images/services_textbg.png");
    background-repeat: no-repeat;
    background-position-x: calc(10% + 130px);
    font-family: "Newsreader";
    font-weight: 700;
    font-size: 24px;
    line-height: 157%;
    text-align: center;
    letter-spacing: 1.16667px;
    color: #4e677d;
    opacity: 0.8;
  }
  &_item_two {
    font-family: "Newsreader";
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #4e677d;
  }
}
.services_cards_box {
  position: relative;
  margin-top: 68px;
}
.services_cards_item {
  width: 275px;
}
.cards_item_title {
  margin-top: 15px;
  font-family: "Newsreader";
  font-weight: 600;
  font-size: 30px;
  line-height: 157%;
  letter-spacing: 1.16667px;
  color: #4e677d;
}
.cards_item_desc {
  font-family: "Blinker";
  font-weight: 400;
  font-size: 20px;
  line-height: 157%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #4e677d;
  opacity: 0.8;
}
.cards_item_link {
  font-family: "Blinker";
  font-weight: 400;
  font-size: 18px;
  line-height: 157%;
  letter-spacing: 1.16667px;
  color: #4e677d;
  border-bottom: 1px solid #4e677d;
  &:hover {
    color: #40586d;
  }
}
