.sign_main {
  padding-top: 157px;
  padding-bottom: 124px;
  background-color: #f5f7fb;
}
.sign_main_left {
  width: 100%;
  max-width: 450px;
}
.sign_main_left_title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
  line-height: 145%;
  text-transform: capitalize;
  color: #4e677d;
}
.sign_main_left_desc {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #aaaaaa;
}
.user_labels {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  color: #4e677d;
}

.user_inputs {
  margin-top: 3px;
  padding: 15px 15px 15px 15px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}
.signup_close_eye {
  width: 15px;
  height: 12px;
  position: absolute;
  top: calc(10% + 35px);
  right: calc(10% - 20px);
  border: none;
  background-color: transparent;
}
.radio_group {
  width: 100%;
  max-width: 364px;
  margin-top: 50px;
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-radius: 50px;
}
.radio_label {
  height: 180px;
  height: 250px;
  border-radius: 50px;
  color: rgba(51, 51, 51, 0.6);
}
.radio_label input[type="radio"] {
  // appearance: none;
  // -webkit-appearance: none;
}
.radio_male::after {
  content: "\f222";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
}
.radio_female::after {
  content: "\f221";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
}
.radio_other::after {
  content: "\f224";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
}
.radio_text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.333333px;
}
.radio_label input[type="radio"]:checked + .radio_label {
  background-color: red;
}
.user_signup_btn {
  margin-top: 55px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  border: none;
  background-color: transparent;
  background: #4e677d;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #ffffff;
}
