.details_part {
  padding-top: 157px;
  background-color: #f5f7fb;
}
.details_left {
  width: 1005px;
  max-width: 461px;
  background-color: pink;
}
.details_left_title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
  line-height: 145%;
  text-transform: capitalize;
  color: #4e677d;
}
.details_left_desc {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #aaaaaa;
}
.details_radios {
  margin-top: 43px;
  margin-bottom: 28px;
}
.details_label {
  position: relative;
  padding: 15px 20px 60px 20px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #4e677d;
  cursor: pointer;
  & + & {
    margin-left: 50px;
  }
}
.details_radios input[type="radio"] {
  display: none;
}
// .details_radio {
//   display: none;
// }
.details_radios span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #4e677d;
  position: absolute;
  top: 50%;
  left: calc(50% - 10px);
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #4e677d;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300s ease-in-out 0s;
  }
}
.details_radios input[type="radio"] ~ span::after {
  transform: translate(-50%, -50%) scale(1);
}
.select_card {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  color: #4e677d;
}
.details_select {
  padding: 15px 270px 15px 15px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
}
